<!--The content below is only a placeholder and can be replaced.-->
<!-- <div *ngIf="!userName"> -->
<!-- <button (click)="socialSignIn('google')">Sign in with Google</button> -->
<!-- <button type="button" (click)="onButtonLoginClicked()">Login</button> -->
<!-- <button type="button" (click)="onButtonInvokeActionClicked()">Invoke protected Action</button> -->
<!-- </div> -->

<!-- <div *ngIf="userName"> -->
<app-navbar></app-navbar>
<div class="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- </div> -->