<!-- <ul class="heroes">
  <li *ngFor="let product of products">
    <a (click)="edit(product)">
      <span class="badge">{{ product._id || -1 }}</span>
      <span *ngIf="product!==editProduct">{{product.name_product}}</span>
      <input *ngIf="product===editProduct" [(ngModel)]="product.name_product" (blur)="update()" (keyup.enter)="update()">
    </a>
    <button class="delete" title="delete hero" (click)="delete(product)">x</button>
  </li>
</ul> -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Linea</th>
      <th scope="col">Precio</th>
      <th scope="col">Unidades</th>
      <th scope="col">Estado</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{product.name_product}}</th>
      <td>{{product.line_product}}</td>
      <td>{{product.price_product}}</td>
      <td>{{product.units_product}}</td>
      <td>{{product.state_product}}</td>
      <td>{{product.description_product}}</td>
      <td>
        <button type="button" class="btn btn-outline-info" (click)="edit(product)">Editar</button>
        <button type="button" class="btn btn-outline-warning" (click)="delete(product)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>