<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Linea</th>
      <th scope="col">Precio</th>
      <th scope="col">Unidades</th>
      <th scope="col">Estado</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">
        <span *ngIf="product!==editProduct">{{product.name_product}}</span>
        <input *ngIf="product===editProduct" [(ngModel)]="product.name_product">
      </th>
      <td>
        <span *ngIf="product!==editProduct">{{product.line_product}}</span>
        <input *ngIf="product===editProduct" [(ngModel)]="product.line_product">
      </td>
      <td>
        <span *ngIf="product!==editProduct">{{product.price_product}}</span>
        <input type="number" *ngIf="product===editProduct" [(ngModel)]="product.price_product">
      </td>
      <td>
        <span *ngIf="product!==editProduct">{{product.units_product}}</span>
        <input type="number" *ngIf="product===editProduct" [(ngModel)]="product.units_product">
      </td>
      <td>
        <span *ngIf="product!==editProduct">{{product.state_product}}</span>
        <input *ngIf="product===editProduct" [(ngModel)]="product.state_product">
      </td>
      <td>
        <span *ngIf="product!==editProduct">{{product.description_product}}</span>
        <input *ngIf="product===editProduct" [(ngModel)]="product.description_product">
      </td>
      <td>
        <button *ngIf="product!==editProduct" type="button" class="btn btn-outline-info" (click)="edit(product)">Editar</button>
        <button *ngIf="product===editProduct" type="button" class="btn btn-outline-info" (click)="update()">Guardar</button>
        <button *ngIf="product!==editProduct" type="button" class="btn btn-outline-warning" (click)="edit(product)">Eliminar</button>
        <button *ngIf="product===editProduct" type="button" class="btn btn-outline-warning">Cancelar</button>
      </td>
    </tr>
  </tbody>
</table>